.dreams {
    height: 103vh;
    width: 100%;
    h1 {
        color: $brandColor;
    }
    &__tittle {
        font-size: 10vw;
        height: 7%;
        padding: 5% 0;
        text-align: center;
        position: relative;
        @include font-size($h2-font-sizes);
        @media screen and (min-width: map-get($breakpoints, "desktopsXLarge")) {
            font-size: 6vw;
        }
        color: $brandColor;
        &::after {
            background-image: url(../images/Emojis/eyes.png);
            background-size: 8vw auto;
            background-repeat: no-repeat;
            display: inline-block;
            width: 8vw;
            height: 8vw;
            content: "";
            position: absolute;
            top: 20%;
        }
    }
    &__filters {
        height: 10%;
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        @media screen and (min-width: map-get($breakpoints, "tablets")) {
            display: block;
            text-align: center;
            div {
                display: inline;
            }
        }
        label {
            display: inline-block;
            width: 33%;
            font-size: 4.5vw;
            color: #0019FFE3;
        }
        input {
            width: 40%;
        }
        &--search {
            width: 45%;
            margin: 0 auto;
            border-right: 1px solid $lineFormuleColor;
            @media screen and (min-width: map-get($breakpoints, "tablets")) {
                display: inline;
            }
            @media screen and (min-width: map-get($breakpoints, "desktops")) {
                br {
                    display: none
                }
            };
        }
        &--button {
            text-align: center;
            width: 41%;
            margin-left: 6px;
            button {
                @include buttonGene(1em, 2em, 4vw);
                @media screen and (min-width: map-get($breakpoints, "tablets")) {
                    display: none;
                }
            }
        }
        @media screen and (min-width: map-get($breakpoints, "tablets")) {
            &--search {
                width: 100%;
                border: none;
                text-align: center;
                .vertical-lane {
                    border-left: solid 1px grey;
                }
                label {
                    width: auto;
                    font-size: 1.2rem;
                    padding: 1% 0;
                    padding-left: 0.4%;
                }
                input {
                    width: 10%;
                    &:nth-child(6), &:nth-child(4) {
                        width: 4%;
                    }
                }
            }
        }
        @media screen and (min-width: map-get($breakpoints, "desktops")) {
            label:not(label:first-child) {
                border-left: 1px solid grey;
            }
            input {
                width: 6%;
            }
        }
    }
    .dreams--filters--hide {
        @media screen and (min-width: map-get($breakpoints, "tablets")) {
        display: inline;
        }
        display: none;
    }
}

.dreams__carousel {
    height: 53%;
    width: 100%;
    position: relative;
    &:after {
        position: absolute;
        bottom: 40%;
        right: 0%;
        width: 17vw;
        font-size: 13px;
        color: red;
        content: 'direction of filtred results';
    }
    &--row {
        height: 60%;
        padding-bottom: 2%;
    }
    &--finger {
        position: relative;
        img {
            height: 6vw;
        }
    }
    &--clouds {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &--cloud {
        @media screen and (min-width: map-get($breakpoints, "largeMobile"))  {
        height: 45vw;
        width: 45vw;
        animation: center-animate 1s ease  1 alternate;
        // animation: center-animate 1s ease  1 alternate;

        .dreams__carousel--row {
            justify-content: space-between;
            }
        }
        justify-self: center;
        @media screen and (min-width: map-get($breakpoints, "desktopsSmall"))  {
            height: 35vw;
            width: 35vw;;
        }
        @media screen and (min-width: map-get($breakpoints, "smallTablets"))  {
            height: 29vh;
            width: 29vw;
        }
        @media screen and (min-width: map-get($breakpoints, "desktops"))  {
            height: 23vw;
            width: 23vw;
        }
        @media screen and (min-width: map-get($breakpoints, "desktopsLarge"))  {
            height: 29vw;
            width: 29vw;
        }
        @media screen and (min-width: map-get($breakpoints, "desktopsXLarge"))  {
            height: 21vw;
            width: 21vw;
        }
        background: url('../images/Emojis/cloud.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 69vw;
        width: 69vw;;
        img {
            height: 50%;
            padding: 25%;
        }
    }
    &--cloud-side {
        @media screen and (min-width: map-get($breakpoints, "smallTablets"))  {
            display: block;
        }
        background: url('../images/Emojis/cloud.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        width: 11.5vw;
        height: 12vw;
        display: none;
            img {
            height: 50%;
            padding: 25%;
        }
    }
    &--box {
        padding-top: 5.5vh;
        width: 75%;
        button {
            @include font-size($h3-font-sizes);
            @include buttonGene(0.8em, 0.8em, 3vw);
        }
    }
    &--name {
        text-align: center;
        padding-bottom: 2%;
        font-size: 9vw;
        color: $brandColor;
        @include font-size($h2-font-sizes);
    }
    &--price {
        border: 2px solid #0019FFE3;
        font-size: 7vw;
        color: #0019FFE3;
        @include font-size($h2-font-sizes);
    }
    #paragraph {
        font-family: Arial, Helvetica, sans-serif;
        color: #0019FFE3;
        width: 65%;
        text-align: center;
        margin: 0 auto;
    }
    .right {

    }
}

